
<div class="messages-wrap message-form">
        <%# Displays messages between users %>
        <% @messages.each do |message| %>
            <% if message.body %>
                <div class="<%= message.user == current_user ? "text-end" : "text-start" %> " >
                    <h5 class="username-message"><%= message.user.username%>:</h5><span class="message-time"></span>
                    <%= message.created_at %></div>
                    <div class="message-body"><%= message.body %></div>     
            <% end %>
        <% end %>
    <%# Form to allow for messages to be created between users %>
    <div  class="message-form">
        <%= form_with model: [@conversation, @conversation.messages.build] do |f| %>
            <%= f.text_area :body%>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden", required: true%>
            <%= f.submit "Send Message" %>
        <% end %>
    </div>
</div>
